# NO subir datos

# Ignorar todo dentro de data excepto .gitkeep
data/*
!data/.gitkeep
*.csv
*.zip

# Modelos pesados

# Ignorar todo dentro de models excepto .gitkeep
models/*
!models/.gitkeep

# Notebooks checkpoints
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Entorno
venv/
.env
